{% load static %}

<!DOCTYPE html>
<html lang="en-US" data-menu="centeralign3">
    <head>
        <title>Hoteller | Hotel HTML Template</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="format-detection" content="telephone=no" />

        <link rel="stylesheet" href="{% static 'web/css/reset.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/wordpress.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/style.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/modulobox.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/themify-icons.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/tooltipster.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/demo.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/loftloader/assets/css/loftloader.minc3cd.css' %}?ver=2020081301" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/lodgeplugins/elementor/assets/lib/eicons/css/elementor-icons.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/elementor/assets/lib/animations/animations.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/elementor/assets/css/frontend-legacy.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/elementor/assets/css/frontend.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/swiper.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/animatedheadline.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/justifiedGallery.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/flickity.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/owl.theme.default.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/hoteller-elementor.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/hoteller-elementor/assets/css/hoteller-elementor-responsive.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/js/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min1849.css' %}?ver=4.7.0" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}" type="text/css" media="all" />        
        <link rel="stylesheet" href="{% static 'web/css/custom-css.css' %}" type="text/css" media="all" />
        
	    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32" />
        <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192" />
        <link rel="apple-touch-icon" href="upload/TG-Thumb.png" />
        <meta name="msapplication-TileImage" content="upload/TG-Thumb.png" />


    </head>

    <body data-rsssl="1" class="home page-template-default page page-id-902 tg_menu_transparent tg_lightbox_black tg_sidemenu_desktop leftalign loftloader-lite-enabled elementor-default elementor-kit-40 elementor-page elementor-page-902">
       
        {% include 'web/partials/header.html' %}

        {% block content %}
        
        {% endblock  %}
        
        {% include 'web/partials/footer.html' %}



        <script type="text/javascript" src="{% static 'web/js/jquery4a5f.js' %}?ver=1.12.4-wp" id="jquery-core-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/core.min.js' %}" id="jquery-ui-core-js' %}"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/widget.min.js' %}" id="jquery-ui-widget-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/mouse.min.js' %}" id="jquery-ui-mouse-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/resizable.min.js' %}" id="jquery-ui-resizable-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/draggable.min.js' %}" id="jquery-ui-draggable-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/button.min.js' %}" id="jquery-ui-button-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/position.min.js' %}" id="jquery-ui-position-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/dialog.min.js' %}" id="jquery-ui-dialog-js"></script>        
        <script type="text/javascript" src="{% static 'web/js/plugins/imagesloaded.mineda1.js' %}?ver=4.1.4" id="imagesloaded-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/masonry.min3a05.js' %}?ver=4.2.2" id="masonry-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jquery.lazy.js' %}" id="lazy-js"></script>
        <script type="text/javascript" id="lazy-js-after">
            jQuery(function ($) {
                jQuery("img.lazy").each(function () {
                    var currentImg = jQuery(this);
        
                    jQuery(this).Lazy({
                        onFinishedAll: function () {
                            currentImg.parent("div.post_img_hover").removeClass("lazy");
                            currentImg.parent(".tg_gallery_lightbox").parent("div.gallery_grid_item").removeClass("lazy");
                            currentImg.parent("div.gallery_grid_item").removeClass("lazy");
                        },
                    });
                });
            });
        </script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/modulobox.js' %}" id="modulobox-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jquery.parallax-scroll.js' %}" id="parallax-scroll-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jquery.smoove.js' %}" id="smoove-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/parallax.js' %}" id="parallax-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jquery.blast.js' %}" id="blast-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jquery.visible.js' %}" id="visible-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jarallax.js' %}" id="jarallax-js"></script>
        <script type="text/javascript" src="{% static 'web/js/ui/effect.min.js' %}" id="jquery-effects-core-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/waypoints.min.js' %}" id="waypoints-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/tilt.jquery.js' %}" id="tilt-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/jquery.stellar.min.js' %}" id="stellar-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/custom_plugins.js' %}" id="hoteller-custom-plugins-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/custom.js' %}" id="hoteller-custom-script-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/jquery.sticky-kit.min.js' %}" id="sticky-kit-js"></script>
        <script type="text/javascript" id="sticky-kit-js-after">
            jQuery(function ($) {
                jQuery("#page_content_wrapper .sidebar_wrapper").stick_in_parent({ offset_top: 100, recalc_every: 1 });
        
                if (jQuery(window).width() < 768 || is_touch_device()) {
                    jQuery("#page_content_wrapper .sidebar_wrapper").trigger("sticky_kit:detach");
                }
            });
        </script>
        <script type="text/javascript" src="{% static 'web/js/plugins/loftloader/assets/js/loftloader.minc3cd.js' %}?ver=2020081301" id="loftloader-lite-front-main-js"></script>
        <script type="text/javascript" id="hoteller-elementor-js-extra">
            /* <![CDATA[ */
            var tgAjax = { ajaxurl: "#", ajax_nonce: "198d31930d" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/hoteller-elementor.js' %}" id="hoteller-elementor-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/three.min.js' %}" id="three-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/TweenMax.js' %}" id="tweenmax-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/momentum-slider5697.js' %}?ver=5.5.3" id="momentum-slider-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/hover.js' %}" id="hover-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/owl.carousel.min5697.js' %}?ver=5.5.3" id="owl-carousel-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/hoteller-elementor/assets/js/flickity.pkgd.js' %}" id="flickity-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/jquery.cookie.js' %}" id="hoteller-jquery-cookie-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/jquery.tooltipster.min.js' %}" id="tooltipster-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/demo.js' %}" id="hoteller-demo-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/elementor/assets/js/frontend-modules.min.js' %}" id="elementor-frontend-modules-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/elementor/assets/lib/dialog/dialog.mina288.js' %}?ver=4.8.1" id="elementor-dialog-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js' %}?ver=4.0.2" id="elementor-waypoints-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/elementor/assets/lib/swiper/swiper.min48f5.js' %}?ver=5.3.6" id="swiper-js"></script>
        <script type="text/javascript" src="{% static 'web/js/plugins/elementor/assets/lib/share-link/share-link.min.js' %}" id="share-link-js"></script>
        <script type="text/javascript" id="elementor-frontend-js-before">
            var elementorFrontendConfig = {
                environmentMode: { edit: false, wpPreview: false },
                i18n: {
                    shareOnFacebook: "Share on Facebook",
                    shareOnTwitter: "Share on Twitter",
                    pinIt: "Pin it",
                    download: "Download",
                    downloadImage: "Download image",
                    fullscreen: "Fullscreen",
                    zoom: "Zoom",
                    share: "Share",
                    playVideo: "Play Video",
                    previous: "Previous",
                    next: "Next",
                    close: "Close",
                },
                is_rtl: false,
                breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
                version: "3.0.4",
                is_static: false,
                legacyMode: { elementWrappers: true },
                urls: { assets: "static//web//js//plugins//elementor//assets//" },
                settings: { page: [], editorPreferences: [] },
                kit: {
                    global_image_lightbox: "yes",
                    lightbox_enable_counter: "yes",
                    lightbox_enable_fullscreen: "yes",
                    lightbox_enable_zoom: "yes",
                    lightbox_enable_share: "yes",
                    lightbox_title_src: "title",
                    lightbox_description_src: "description",
                },
                post: { id: 662, title: "Hoteller%20%7C%20Luxury%20Hotel%20WordPress%20Theme%20%E2%80%93%20Just%20another%20WordPress%20site", excerpt: "", featuredImage: false },
            };
        </script>
        <script type="text/javascript" src="{% static 'web/js/plugins/elementor/assets/js/frontend.min.js' %}" id="elementor-frontend-js"></script>
        </body>
        </html>
        